*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

.container{
    width: 100%;
    max-width: 1536px;
    padding: 0px 15px;
    margin: auto;
    /* border: 1px solid red; */
}

:root{
    --light-grey: #656565;
    --primary-color:#F63227;
    --border-color: #E8E8E8; 
    --heading-color: #121212;
}

.description{
    font-size: 16px;
    color: var(--light-grey);
}

.flex{
    display: flex;
    align-items: center;
}

.flex-justify-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-heading{
    font-size: 34px;
    color: var(--heading-color);
    font-weight: 400;
}

.banner-description{
    font-size: 14px;
    font-weight: 500;
    color: var(--light-grey);
    padding: 8px 0px 15px;
    max-width: 332px;
}

.btn{
     border: none;
     padding: 10px 20px;
     border-radius: 20px;
     text-transform: uppercase;
     cursor: pointer;
}

.primary-btn{
    background: var(--primary-color);
    color: #fff;
}

.outlined-btn{
    background: transparent;
    border: 1px solid var(--heading-color);
    color: var(--heading-color);
    transition: 0.25s ease-in-out all;
}

.outlined-btn:hover{
    background: var(--heading-color);
    color: #fff;
}

.secondary-btn{
    background: var(--heading-color);
    color: #fff;
}

.section-heading{
    font-size: 46px;
    font-weight: 400;
    color: var(--heading-color);
}

.product-img{
    border-radius: 10px;
    border: 1px solid var(--border-color);
}

.badge-circle{
    width: 48px;
    height: 48px;
    border-radius: 30px;
    background: var(--primary-color);
    color: #fff;
    font-weight: 500;
    position: absolute;
    top: 15px;
    right: 15px;
}

.product-card-icon{
    background: #fff;
    width: 48px;
    height: 48px;
    border-radius: 30px;
}

.product-img-wrapper{
    position: relative;
}

.product-card-icons-wrapper{
    display: flex;
    flex-direction: column;
    gap: 6px;
    position: absolute;
    bottom: 15px;
    right: -50px;
    transition: 0.25s ease-in-out all;
}

.star-rating{
    color: #FCC93D;
}

.card-heading{
    font-size: 14px;
    font-weight: 500;
    color: var(--heading-color);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 354px;
}

.pkr-text{
    font-weight: 600;
    color: var(--primary-color);
}

.price-text{
    color: var(--primary-color);
    font-size: 24px;
    font-weight: 600;
    padding: 0px 4px;
}

.discounted-price{
    color: var(--light-grey);
    text-decoration: line-through;
}

.price-wrapper{
    align-items: first baseline;
}

.product-cards-wrapper{
    gap: 30px;
    margin-top: 30px;
}

.product-card{
    overflow: hidden;
    cursor: pointer;
}

.product-card:hover .product-card-icons-wrapper{
    right: 15px;
}

.product-card-bottom-wrapper{
    margin-top: 15px;
}

.product-card-bottom-wrapper p{
    margin: 8px 0px;
}

.section-spacing{
    margin: 120px 0px;
}

.block-btn{
    width: 100%;
}

.stats-title{
    font-size: 24px;
    font-weight: 400;
    color: var(--heading-color);
}
.main-menu {
    background-color: #000f3b !important;
    background: red !important;
}